//主色
$main-color: #4850FF;//主色

//文字颜色
$font-color-first-title: #202839;//一级标题色
$font-color-first-content: #58637B;//一级内容色
$font-color-second-content: #ADB6CA;//二级内容色
$font-color-third-content: #CACDD3;//三级内容色

//全局消息提示色
$message-waring-background-color: #FFF8EE;
$message-waring-front-color: #FB8B39;
$message-success-background-color: #EEFEF4;
$message-success-front-color: #2DEE6E;
$message-error-background-color: #FEEFEF;
$message-error-front-color: #F5313D;

//分割线颜色
$split-line-color: #F6F8FC;
//input框颜色
$input-border-color: #EDEFF1;

//背景色
//$background-first-color:#F7F7F8;//一级背景色
$background-first-color: #F6F6F9;
$background-second-color:#FFFFFF;//二级背景色

//辅助色
$first-auxiliary-color:#202839;
$second-auxiliary-color:#353F60;
//$third-auxiliary-color:#EACCB0;#FF3306
$third-auxiliary-color: #FF3306;
